@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "times";
    font-style: normal;
    font-weight: normal;
    src: url(OPS/fonts/times.ttf)
    }
@font-face {
    font-family: "times";
    font-style: normal;
    font-weight: bold;
    src: url(OPS/fonts/timesbd.ttf)
    }
@font-face {
    font-family: "times";
    font-style: italic;
    font-weight: bold;
    src: url(OPS/fonts/timesbi.ttf)
    }
@font-face {
    font-family: "times";
    font-style: italic;
    font-weight: normal;
    src: url(OPS/fonts/timesi.ttf)
    }
